{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
<h1>{{ client.name ? "Редактирование клиента " ~ client.name  : "Создание нового клиента" }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form(form) }}
{% endblock %}
