{% extends "base.html.twig" %}
{% block body %}
    <h1>Клиенты</h1>
    <a href="{{ path('create')}}">Создать нового</a><br>
    <a href="{{ path('logout')}}">Выйти</a><br>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="count">
        Всего:{{ pagination.getTotalItemCount }}
    </div>
    <table class="table">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Имя', 'c.name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Телефон', 'c.phone') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Email', 'c.email') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Образование', 'e.id') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Скоринг', 'c.scoring') }}</th>
            <th style="width: 50px">{{ knp_pagination_sortable(pagination, 'Согласие на обработку данных', 'c.processing_consent') }}</th>
            <th></th>
        </tr>

        {# table body #}
        {% for client in pagination %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.education.name }}</td>
                <td>{{ client.scoring }}</td>
                <td>{{ client.processingConsent ? "Есть" : "Нет" }}</td>
                <td>
                    <a href="{{ path('edit', {'client': client.id}) }}"><i class="bi bi-pencil"></i></a>
                    <a href="{{ path('delete', {'client': client.id}) }}" onclick="return confirm('Вы уверены?')"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
    </div>
{% endblock %}
